/* Load the defaults from `<userDir>/node_modules/node-red-contrib-uibuilder/front-end/src/uib-styles.css` */


/* Cloak elements on initial load to hide the possible display of {{ ... }} 
 * Add to the app tag or to specific tags
 * To display "loading...", change to the following:
 *    [v-cloak] > * { display:none }
 *    [v-cloak]::before { content: "loading…" }
 */
[v-cloak] { display: none; }



.uib {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #d10cad;
}
.container {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  background-image: url("./resources/back5.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100%;
  background-attachment: fixed;
  
}